version: 2
updates:
  - package-ecosystem: github-actions
    directory: /canary-release
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
  - package-ecosystem: github-actions
    directory: /check-cla
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
  - package-ecosystem: github-actions
    directory: /read-yaml
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
  - package-ecosystem: github-actions
    directory: /set-commit-status
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
  - package-ecosystem: github-actions
    directory: /.github/workflows
    schedule:
      interval: weekly
    groups:
      workflows:
        patterns:
          - '*'
    cooldown:
      default-days: 7
