---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # ensure syntaxes are valid
      - id: check-yaml
      # catch git merge/rebase problems
      - id: check-merge-conflict
      # sort requirements files
      - id: file-contents-sorter
        files: |
          (?x)^(
            template-files/requirements\.txt
          )
        args: [--unique]
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        exclude: .github/.*$
        args: [--mapping, '2', --offset, '2', --sequence, '4']
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-actions
        files: .*/action.(yml|yaml)$
      - id: check-dependabot
  - repo: https://github.com/codespell-project/codespell
    # see setup.cfg
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--write-changes]
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
