name: issue-in-project

on:
  pull_request:
    paths:
      - issue-in-project/src/**

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: issue-in-project
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install
      - run: npm run build
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Rebuild issue-in-project
          commit_user_name: Conda Bot
          commit_user_email: conda-bot@users.noreply.github.com
          commit_author: Conda Bot <conda-bot@users.noreply.github.com>
